
body {
    text-align: center;
    background-color: #fffffffe;
    min-height: 100vh;
    padding: 40px;
    margin: 0;
    font-family: Monospace;
    color: #333;
}


h1, h2 {
    margin-bottom: 12px;
    color: #2d8881;
}


button {
    background: #2fbdb1;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    min-width: 130px;
}

button:hover {
    background: #277e78;
    transform: translateY(-3px);
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #b8b8b8;
    width: 180px;
    text-align: center;
}

#display{
    font-size: 18px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: #f6f2f2;
    min-height: 45px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

